In [74]:
println("ready")

ready

# -3) Créer une sparkSession

In [75]:
import org.apache.spark.sql.SparkSession
val spark = SparkSession.builder().getOrCreate()

# -3.1) Importer les méthodes de conversion de type

In [76]:
import spark.implicits._

# -2) imports

In [77]:
import org.apache.spark.SparkContext
import org.apache.spark.SparkContext
import org.apache.spark.SparkConf

# -1) refaire un spark context personnalisé

In [78]:
val appName = "rennes"
val master  = "local[3]"
val conf    = new SparkConf()
conf.setAppName(appName)
conf.setMaster(master)

org.apache.spark.SparkConf@3a915864

In [79]:
val spark3 = SparkSession.builder().master("local[3]").appName("Word Count").getOrCreate()
val sc3    = spark3.sparkContext
sc3.master

local[*]

# 1) Créer une première rdd

## 1.1) Création de RDD par lecture d'un fichier

In [80]:
val path      = "./logs/trajets.csv"
val trajets   = sc.textFile(path)    // trajets est une (map)RDD
trajets.count()

3884

# 1.2) on récupère plusieurs tableaux "sans discontinuités"

In [81]:
trajets.take(1)

Array(aefb2,cycliste_azex3,velo_azed9_1486042024.4,1486042052.49,1486042054.41,1.92083001137,1.41421356237,azyio)

In [82]:
trajets.take(5)

Array(aefb2,cycliste_azex3,velo_azed9_1486042024.4,1486042052.49,1486042054.41,1.92083001137,1.41421356237,azyio, azux9,cycliste_azet7,velo_aepj0_1486042024.44,1486042052.5,1486042054.41,1.91730213165,3.16227766017,aefb2, aelmx,cycliste_azem8,velo_aetin_1486042024.34,1486042053.73,1486042054.41,0.683007001877,1.0,azys7, azrop,cycliste_azeu0,velo_ardb4_1486042024.19,1486042053.74,1486042054.41,0.678191900253,2.0,aelmx, aryn3,cycliste_azelm,velo_azojn_1486042024.13,1486042052.51,1486042054.42,1.90497398376,1.41421356237,aelmx)

In [83]:
trajets.distinct.count()

3884

# 1.3) on peut faire apparaître des  tableaux

In [84]:
val splitted = trajets.map(line => line.split(","))
splitted.first()

Array(aefb2, cycliste_azex3, velo_azed9_1486042024.4, 1486042052.49, 1486042054.41, 1.92083001137, 1.41421356237, azyio)

In [85]:
splitted.take(1)

Array(Array(aefb2, cycliste_azex3, velo_azed9_1486042024.4, 1486042052.49, 1486042054.41, 1.92083001137, 1.41421356237, azyio))

In [86]:
splitted.take(5)

Array(Array(aefb2, cycliste_azex3, velo_azed9_1486042024.4, 1486042052.49, 1486042054.41, 1.92083001137, 1.41421356237, azyio), Array(azux9, cycliste_azet7, velo_aepj0_1486042024.44, 1486042052.5, 1486042054.41, 1.91730213165, 3.16227766017, aefb2), Array(aelmx, cycliste_azem8, velo_aetin_1486042024.34, 1486042053.73, 1486042054.41, 0.683007001877, 1.0, azys7), Array(azrop, cycliste_azeu0, velo_ardb4_1486042024.19, 1486042053.74, 1486042054.41, 0.678191900253, 2.0, aelmx), Array(aryn3, cycliste_azelm, velo_azojn_1486042024.13, 1486042052.51, 1486042054.42, 1.90497398376, 1.41421356237, aelmx))

In [87]:
splitted.collect()

Array(Array(aefb2, cycliste_azex3, velo_azed9_1486042024.4, 1486042052.49, 1486042054.41, 1.92083001137, 1.41421356237, azyio), Array(azux9, cycliste_azet7, velo_aepj0_1486042024.44, 1486042052.5, 1486042054.41, 1.91730213165, 3.16227766017, aefb2), Array(aelmx, cycliste_azem8, velo_aetin_1486042024.34, 1486042053.73, 1486042054.41, 0.683007001877, 1.0, azys7), Array(azrop, cycliste_azeu0, velo_ardb4_1486042024.19, 1486042053.74, 1486042054.41, 0.678191900253, 2.0, aelmx), Array(aryn3, cycliste_azelm, velo_azojn_1486042024.13, 1486042052.51, 1486042054.42, 1.90497398376, 1.41421356237, aelmx), Array(azu15, cycliste_azel6, velo_arilw_1486042024.41, 1486042053.75, 1486042054.42, 0.669826984406, 1.0, aryuw), Array(azux9, cycliste_azepw, velo_aegm0_1486042024....

# 1.4) on peut récupèrer un tableau qui contient tous les élèments des différents tableaux

In [88]:
val trajets_like = trajets.flatMap(line => line.split(",")) // Rdd
trajets_like

MapPartitionsRDD[64] at flatMap at <console>:41

In [89]:
trajets_like.take(4)

Array(aefb2, cycliste_azex3, velo_azed9_1486042024.4, 1486042052.49)

In [90]:
trajets_like.count()

31072

In [91]:
trajets_like.distinct().count()

7354

# 1.5) on peut extraire un sous set

In [92]:
val pourcentage = 0.01
val avec_remise = false
val subset = trajets_like.sample(avec_remise, pourcentage) // en pourcentage de la base

In [93]:
subset.count()

285

In [94]:
subset.collect()

Array(cycliste_azel6, 1486042052.84, aryn3, 1486042054.0, 1486042054.06, aefb2, 1486042055.36, 1.41421356237, aetlb, az359, 1486042085.6, velo_azos9_1486042084.01, cycliste_azegm, aedx3, 1486042089.73, azsg2, azghk, 0.617660999298, cycliste_azeq0, 1486042089.11, azsm0, 1486042089.77, velo_aerl6_1486042084.19, 1486042088.98, 1.00485610962, azsm0, cycliste_azeqv, azsg2, 1.41421356237, 3.16227766017, cycliste_azerh, 1486042091.12, aeisc, aetlb, velo_azhkc_1486042083.85, 0.549829006195, velo_azpgl_1486042084.0, aehkw, aetlb, arpvb, aetlb, velo_aeuj4_1486042084.09, velo_arsh5_1486042084.1, aryp0, 1486042091.4, aryb9, azh59, velo_azerk_1486042084.28, 2.2360679775, aedx3, 2.2360679775, ael47, 1486042092.15, 0.545649051666, 2.0, 0.450442075729, 1486042092.43, azghk, ael4...

In [95]:
// en nombre de valeurs
trajets.takeSample(false, 100) // action => DAG calculé

Array(aryb9,cycliste_azeq9,velo_aeqsc_1486042084.24,1486042111.53,1486042111.98,0.452876091003,0.0,aryb9, ael47,cycliste_azew2,velo_aeiv1_1486042084.21,1486042095.82,1486042097.13,1.30658793449,3.16227766017,aetc2, azh59,cycliste_azert,velo_azeum_1486042084.13,1486042106.6,1486042108.18,1.57330083847,3.16227766017,aryb9, azghk,cycliste_azep1,velo_aryq1_1486042084.25,1486042108.72,1486042110.05,1.33539891243,3.60555127546,aedx3, aeyp3,cycliste_azeiq,velo_az360_1486042084.03,1486042107.46,1486042108.04,0.579392910004,1.0,ael47, aedk4,cycliste_azerw,velo_azdmb_1486042084.25,1486042093.28,1486042093.97,0.690509080887,1.41421356237,aetlb, azghk,cycliste_azeyx,velo_aejn5_1486042083.93,1486042102.3,1486042102.62,0.314414978027,2.2360679775,azsm0, aew40,cycliste_azeum,ve...

In [96]:
trajets.take(4)

Array(aefb2,cycliste_azex3,velo_azed9_1486042024.4,1486042052.49,1486042054.41,1.92083001137,1.41421356237,azyio, azux9,cycliste_azet7,velo_aepj0_1486042024.44,1486042052.5,1486042054.41,1.91730213165,3.16227766017,aefb2, aelmx,cycliste_azem8,velo_aetin_1486042024.34,1486042053.73,1486042054.41,0.683007001877,1.0,azys7, azrop,cycliste_azeu0,velo_ardb4_1486042024.19,1486042053.74,1486042054.41,0.678191900253,2.0,aelmx)

# 1.6 On peut faire des calculs de base sur des colones numériques

In [97]:
val durees  = trajets.map(l => l.split(",")).map(l => (l(5).toFloat))
val kmtrage = trajets.map(l => l.split(",")).map(l => (l(6).toFloat))

In [98]:
System.out.println(durees.min)
System.out.println(durees.mean)
System.out.println(durees.max)

0.0030059814
0.9055036855161382
5.544328

In [99]:
System.out.println(kmtrage.min)
System.out.println(kmtrage.mean)
System.out.println(kmtrage.max)

0.0
2.1012103067735923
5.0

# 2) seconde RDD : cyclistes

In [100]:
val path      = "./logs/cycliste_cyclistes.csv"
// cyclistes est une RDD
val cyclistes = sc.textFile(path)

In [101]:
cyclistes.take(1)

Array(cycliste_azepf,-0.5,43,femme,13.0136753551,13.9717095482,0.5)

# 2.1) transformation en pairedRDD

In [102]:
// la colonne 0 donne le nom du cycliste, la n° 3 le genre
val cycliste_genre = cyclistes.map( _.split(",")).map( r => (r(0), r(3)))

In [103]:
cycliste_genre.take(1)

Array((cycliste_azepf,femme))

# 2.2) transformation des trajets en pairedRDD

In [104]:
// la colonne 1 donne le nom du cycliste, la 6 le nombre de kilometre
val k_v_trajets = trajets.map(_.split(",")).map(ligne => ( ligne(1), ligne(6) ) )

In [105]:
k_v_trajets.take(1)

Array((cycliste_azex3,1.41421356237))

# 2.3) jointure sur la clef

In [106]:
val trajets_des_cyclistes = cycliste_genre.join(k_v_trajets)

In [107]:
trajets_des_cyclistes.take(10)

Array((cycliste_azeu8,(homme,3.60555127546)), (cycliste_azeu8,(homme,1.41421356237)), (cycliste_azeu8,(homme,3.60555127546)), (cycliste_azeu8,(homme,3.60555127546)), (cycliste_azeu8,(homme,3.60555127546)), (cycliste_azeu8,(homme,3.60555127546)), (cycliste_azeu8,(homme,1.41421356237)), (cycliste_azeu8,(homme,1.41421356237)), (cycliste_azeu8,(homme,1.0)), (cycliste_azeu8,(homme,2.82842712475)))

# 2.4) analyse par clef (ici le cycliste)

In [108]:
val trajets_par_cycliste = trajets_des_cyclistes.groupByKey()
trajets_par_cycliste.take(2)

Array((cycliste_azeu8,CompactBuffer((homme,3.60555127546), (homme,1.41421356237), (homme,3.60555127546), (homme,3.60555127546), (homme,3.60555127546), (homme,3.60555127546), (homme,1.41421356237), (homme,1.41421356237), (homme,1.0), (homme,2.82842712475), (homme,1.41421356237), (homme,5.0), (homme,1.0), (homme,2.82842712475))), (cycliste_azei4,CompactBuffer((femme,1.41421356237))))

In [109]:
val a = trajets_par_cycliste

In [110]:
a.map(x => (x._1 , x._2.map({case (k,v) => v.toDouble}).sum)).take(3)

Array((cycliste_azeu8,36.34146487628001), (cycliste_azei4,1.41421356237), (cycliste_azej9,34.40093887518))

In [111]:
val mini = a.map(x => (x._1 , x._2.map({case (k,v) => v.toDouble}).min))
mini.take(3)

Array((cycliste_azeu8,1.0), (cycliste_azei4,1.41421356237), (cycliste_azej9,1.0))

In [112]:
val maxi = a.map(x => (x._1 , x._2.map({case (k,v) => v.toDouble}).max))
maxi.take(3)

Array((cycliste_azeu8,5.0), (cycliste_azei4,1.41421356237), (cycliste_azej9,3.60555127546))

In [113]:
val nbKm = a.map(x => (x._1 , x._2.map({case (k,v) => v.toDouble}).sum))
nbKm.take(3)

Array((cycliste_azeu8,36.34146487628001), (cycliste_azei4,1.41421356237), (cycliste_azej9,34.40093887518))

In [114]:
val nbTrajet = a.map(x => (x._1 , x._2.map({case (k,v) => v.toDouble}).size))
nbTrajet.take(3)

Array((cycliste_azeu8,14), (cycliste_azei4,1), (cycliste_azej9,12))

In [115]:
val jointure = nbTrajet.join(nbKm)
jointure.take(3)

Array((cycliste_azeu8,(14,36.34146487628001)), (cycliste_azei4,(1,1.41421356237)), (cycliste_azej9,(12,34.40093887518)))

In [116]:
val nb_km_moyen = jointure.map(data => (data._1, data._2._2 / data._2._1))
nb_km_moyen.take(3)

Array((cycliste_azeu8,2.595818919734286), (cycliste_azei4,1.41421356237), (cycliste_azej9,2.866744906265))

In [117]:
val path = "./logs_backup/toto.csv"

In [118]:
val cyclistes = spark.read.option("header", "true").csv(path)

# 2) lire un csv renvoie une dataframe de row

In [119]:
cyclistes.show(3)

+--------------+--------------+---+-----+-------------+---------------+-------+
|           nom|niveau_sportif|age|genre|     km_moyen|vitesse_moyenne|attente|
+--------------+--------------+---+-----+-------------+---------------+-------+
|cycliste_azeqv|             2| 48|femme|10.2181585367|   17.634070191|    0.5|
|cycliste_aztn9|             4| 17|femme|7.22914973386|  22.3342205623|    0.5|
|cycliste_azrw3|             6| 30|homme|4.12219368148|  27.7083743417|    0.5|
+--------------+--------------+---+-----+-------------+---------------+-------+
only showing top 3 rows

In [120]:
cyclistes.groupBy('genre).count().show()

+-----+-----+
|genre|count|
+-----+-----+
|homme|  134|
|femme|  166|
+-----+-----+

In [121]:
cyclistes.groupBy('genre).count().orderBy('count desc).show()

+-----+-----+
|genre|count|
+-----+-----+
|femme|  166|
|homme|  134|
+-----+-----+

In [122]:
cyclistes.groupBy('genre, 'niveau_sportif).count().orderBy('count desc, 'genre, 'niveau_sportif ).show()

+-----+--------------+-----+
|genre|niveau_sportif|count|
+-----+--------------+-----+
|femme|             4|   41|
|femme|             6|   38|
|homme|             2|   36|
|femme|             2|   33|
|femme|          -0.5|   32|
|homme|             0|   27|
|homme|             4|   27|
|homme|             6|   23|
|femme|             0|   22|
|homme|          -0.5|   21|
+-----+--------------+-----+

In [123]:
val hommes = cyclistes.filter('genre contains "homme")
hommes.count()

134

In [124]:
val voyageurs = hommes.filter('km_moyen > 10)
voyageurs.count()

In [125]:
val assexue = cyclistes.drop('genre)
assexue.show(3)

+--------------+--------------+---+-------------+---------------+-------+
|           nom|niveau_sportif|age|     km_moyen|vitesse_moyenne|attente|
+--------------+--------------+---+-------------+---------------+-------+
|cycliste_azeqv|             2| 48|10.2181585367|   17.634070191|    0.5|
|cycliste_aztn9|             4| 17|7.22914973386|  22.3342205623|    0.5|
|cycliste_azrw3|             6| 30|4.12219368148|  27.7083743417|    0.5|
+--------------+--------------+---+-------------+---------------+-------+
only showing top 3 rows

In [126]:
assexue.sort('age desc).show(3)

+--------------+--------------+---+-------------+---------------+-------+
|           nom|niveau_sportif|age|     km_moyen|vitesse_moyenne|attente|
+--------------+--------------+---+-------------+---------------+-------+
|cycliste_azfc3|             4| 80|7.83212039083|  9.54151536677|    0.5|
|cycliste_azts4|             0| 80|2.65763170426|  9.85875838863|    0.5|
|cycliste_azdkx|             0| 80| 6.5845108176|  20.8670725418|    0.5|
+--------------+--------------+---+-------------+---------------+-------+
only showing top 3 rows

In [127]:
assexue.withColumn("voyageur", 'km_moyen > 10).filter('voyageur).show(3)

+--------------+--------------+---+-------------+---------------+-------+--------+
|           nom|niveau_sportif|age|     km_moyen|vitesse_moyenne|attente|voyageur|
+--------------+--------------+---+-------------+---------------+-------+--------+
|cycliste_azeqv|             2| 48|10.2181585367|   17.634070191|    0.5|    true|
|cycliste_azyuo|             4| 20|12.3520434918|  24.8977315731|    0.5|    true|
|cycliste_azty7|             6| 67|13.1309960304|  19.4322595127|    0.5|    true|
+--------------+--------------+---+-------------+---------------+-------+--------+
only showing top 3 rows

# Enregistrer la DataFrame en tant que table

In [128]:
val table_name = "cyclistes"
cyclistes.registerTempTable(table_name)

# Regarder les tables existante dans  le sqlContext

In [129]:
val sqlContext = new org.apache.spark.sql.SQLContext(sc)

In [130]:
sqlContext.tableNames()

Array(cyclistes)

# Requêter une dataframe avec du SQL

In [135]:
val trajets = spark.read.option("header", "true").csv("./logs/trajets.csv") // Dataframe

In [136]:
trajets.registerTempTable("trajets")

In [137]:
val requete = s"Select * from trajets limit 3"
sqlContext.sql(requete).show()

+-----+--------------+-----------------------+-------------+-------------+--------------+-------------+-----+
|aefb2|cycliste_azex3|velo_azed9_1486042024.4|1486042052.49|1486042054.41| 1.92083001137|1.41421356237|azyio|
+-----+--------------+-----------------------+-------------+-------------+--------------+-------------+-----+
|azux9|cycliste_azet7|   velo_aepj0_148604...| 1486042052.5|1486042054.41| 1.91730213165|3.16227766017|aefb2|
|aelmx|cycliste_azem8|   velo_aetin_148604...|1486042053.73|1486042054.41|0.683007001877|          1.0|azys7|
|azrop|cycliste_azeu0|   velo_ardb4_148604...|1486042053.74|1486042054.41|0.678191900253|          2.0|aelmx|
+-----+--------------+-----------------------+-------------+-------------+--------------+-------------+-----+

##### requete 01 : compte le nb de lignes

In [138]:
val requete = s"Select count(*) from trajets"
sqlContext.sql(requete).show()

+--------+
|count(1)|
+--------+
|    3883|
+--------+

##### requete 02 : nb de cyclistes distincts

In [139]:
val requete = s"select count( distinct cycliste ) from trajets"
sqlContext.sql(requete).show()

Name: org.apache.spark.sql.AnalysisException
Message: cannot resolve '`cycliste`' given input columns: [aefb2, 1.41421356237, 1486042054.41, velo_azed9_1486042024.4, cycliste_azex3, azyio, 1.92083001137, 1486042052.49]; line 1 pos 23;
'Project [unresolvedalias('count('cycliste), None)]
+- SubqueryAlias trajets
   +- Relation[aefb2#301,cycliste_azex3#302,velo_azed9_1486042024.4#303,1486042052.49#304,1486042054.41#305,1.92083001137#306,1.41421356237#307,azyio#308] csv

StackTrace: 'Project [unresolvedalias('count('cycliste), None)]
+- SubqueryAlias trajets
   +- Relation[aefb2#301,cycliste_azex3#302,velo_azed9_1486042024.4#303,1486042052.49#304,1486042054.41#305,1.92083001137#306,1.41421356237#307,azyio#308] csv

  at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:42)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:77)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:74)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:308)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:308)
  at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:69)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:307)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5$$anonfun$apply$11.apply(TreeNode.scala:357)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
  at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
  at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
  at scala.collection.AbstractTraversable.map(Traversable.scala:104)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5.apply(TreeNode.scala:355)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformChildren(TreeNode.scala:326)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5.apply(TreeNode.scala:328)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformChildren(TreeNode.scala:326)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionUp$1(QueryPlan.scala:269)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2(QueryPlan.scala:279)
  at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2$1.apply(QueryPlan.scala:283)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.immutable.List.foreach(List.scala:381)
  at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
  at scala.collection.immutable.List.map(List.scala:285)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2(QueryPlan.scala:283)
  at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$8.apply(QueryPlan.scala:288)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionsUp(QueryPlan.scala:288)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:74)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:67)
  at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:126)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$class.checkAnalysis(CheckAnalysis.scala:67)
  at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:58)
  at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:49)
  at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:64)
  at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:582)
  at org.apache.spark.sql.SQLContext.sql(SQLContext.scala:682)

##### requete 03 : distance moyenne

In [140]:
// performance moyenne : 
val requete = s"""Select mean( nb_km) as nb_km_moyen
                  from  trajets"""
sqlContext.sql(requete).show()

Name: org.apache.spark.sql.AnalysisException
Message: cannot resolve '`nb_km`' given input columns: [aefb2, 1.41421356237, 1486042054.41, velo_azed9_1486042024.4, cycliste_azex3, azyio, 1.92083001137, 1486042052.49]; line 1 pos 13;
'Project ['mean('nb_km) AS nb_km_moyen#357]
+- SubqueryAlias trajets
   +- Relation[aefb2#301,cycliste_azex3#302,velo_azed9_1486042024.4#303,1486042052.49#304,1486042054.41#305,1.92083001137#306,1.41421356237#307,azyio#308] csv

StackTrace: 'Project ['mean('nb_km) AS nb_km_moyen#357]
+- SubqueryAlias trajets
   +- Relation[aefb2#301,cycliste_azex3#302,velo_azed9_1486042024.4#303,1486042052.49#304,1486042054.41#305,1.92083001137#306,1.41421356237#307,azyio#308] csv

  at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:42)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:77)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:74)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:308)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:308)
  at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:69)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:307)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5$$anonfun$apply$11.apply(TreeNode.scala:357)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
  at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
  at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
  at scala.collection.AbstractTraversable.map(Traversable.scala:104)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5.apply(TreeNode.scala:355)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformChildren(TreeNode.scala:326)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5.apply(TreeNode.scala:328)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformChildren(TreeNode.scala:326)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:305)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionUp$1(QueryPlan.scala:269)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2(QueryPlan.scala:279)
  at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2$1.apply(QueryPlan.scala:283)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.immutable.List.foreach(List.scala:381)
  at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
  at scala.collection.immutable.List.map(List.scala:285)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2(QueryPlan.scala:283)
  at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$8.apply(QueryPlan.scala:288)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionsUp(QueryPlan.scala:288)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:74)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:67)
  at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:126)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$class.checkAnalysis(CheckAnalysis.scala:67)
  at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:58)
  at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:49)
  at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:64)
  at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:582)
  at org.apache.spark.sql.SQLContext.sql(SQLContext.scala:682)

##### requete 05 : conversion de timestamp en date

In [141]:
val requete = s"""
Select  cycliste,
        min(from_unixtime(heure_de_depart,'YYYY-MM-dd HH:mm:ss')) as premiere_sortie, 
        max(from_unixtime(heure_d_arrivee,'YYYY-MM-dd HH:mm:ss')) as derniere_sortie,
        count(distinct heure_de_depart) as nb_sortie
        from trajets
        group by cycliste
"""
sqlContext.sql(requete).show()

Name: org.apache.spark.sql.AnalysisException
Message: cannot resolve '`cycliste`' given input columns: [aefb2, 1.41421356237, 1486042054.41, velo_azed9_1486042024.4, cycliste_azex3, azyio, 1.92083001137, 1486042052.49]; line 7 pos 17;
'Aggregate ['cycliste], ['cycliste, 'min('from_unixtime('heure_de_depart, YYYY-MM-dd HH:mm:ss)) AS premiere_sortie#358, 'max('from_unixtime('heure_d_arrivee, YYYY-MM-dd HH:mm:ss)) AS derniere_sortie#359, 'count('heure_de_depart) AS nb_sortie#360]
+- SubqueryAlias trajets
   +- Relation[aefb2#301,cycliste_azex3#302,velo_azed9_1486042024.4#303,1486042052.49#304,1486042054.41#305,1.92083001137#306,1.41421356237#307,azyio#308] csv

StackTrace: 'Aggregate ['cycliste], ['cycliste, 'min('from_unixtime('heure_de_depart, YYYY-MM-dd HH:mm:ss)) AS premiere_sortie#358, 'max('from_unixtime('heure_d_arrivee, YYYY-MM-dd HH:mm:ss)) AS derniere_sortie#359, 'count('heure_de_depart) AS nb_sortie#360]
+- SubqueryAlias trajets
   +- Relation[aefb2#301,cycliste_azex3#302,velo_azed9_1486042024.4#303,1486042052.49#304,1486042054.41#305,1.92083001137#306,1.41421356237#307,azyio#308] csv

  at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:42)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:77)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:74)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:308)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:308)
  at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:69)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:307)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionUp$1(QueryPlan.scala:269)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2(QueryPlan.scala:279)
  at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2$1.apply(QueryPlan.scala:283)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
  at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
  at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
  at scala.collection.AbstractTraversable.map(Traversable.scala:104)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2(QueryPlan.scala:283)
  at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$8.apply(QueryPlan.scala:288)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionsUp(QueryPlan.scala:288)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:74)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:67)
  at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:126)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$class.checkAnalysis(CheckAnalysis.scala:67)
  at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:58)
  at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:49)
  at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:64)
  at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:582)
  at org.apache.spark.sql.SQLContext.sql(SQLContext.scala:682)

##### requete 06 : imbrication de requêtes

In [142]:
val requete = s"""
Select  cycliste, 
        from_unixtime(derniere_sortie - premiere_sortie, 'HH:mm:ss') as anciennete
from
(       Select  cycliste,
                min(heure_de_depart) as premiere_sortie, 
                max(heure_d_arrivee) as derniere_sortie                
        from trajets
        group by cycliste
        )
        limit 3
"""
sqlContext.sql(requete).show()

Name: org.apache.spark.sql.AnalysisException
Message: cannot resolve '`cycliste`' given input columns: [aefb2, 1.41421356237, 1486042054.41, velo_azed9_1486042024.4, cycliste_azex3, azyio, 1.92083001137, 1486042052.49]; line 9 pos 17;
'GlobalLimit 3
+- 'LocalLimit 3
   +- 'Project ['cycliste, 'from_unixtime(('derniere_sortie - 'premiere_sortie), HH:mm:ss) AS anciennete#363]
      +- 'Aggregate ['cycliste], ['cycliste, 'min('heure_de_depart) AS premiere_sortie#361, 'max('heure_d_arrivee) AS derniere_sortie#362]
         +- SubqueryAlias trajets
            +- Relation[aefb2#301,cycliste_azex3#302,velo_azed9_1486042024.4#303,1486042052.49#304,1486042054.41#305,1.92083001137#306,1.41421356237#307,azyio#308] csv

StackTrace: 'GlobalLimit 3
+- 'LocalLimit 3
   +- 'Project ['cycliste, 'from_unixtime(('derniere_sortie - 'premiere_sortie), HH:mm:ss) AS anciennete#363]
      +- 'Aggregate ['cycliste], ['cycliste, 'min('heure_de_depart) AS premiere_sortie#361, 'max('heure_d_arrivee) AS derniere_sortie#362]
         +- SubqueryAlias trajets
            +- Relation[aefb2#301,cycliste_azex3#302,velo_azed9_1486042024.4#303,1486042052.49#304,1486042054.41#305,1.92083001137#306,1.41421356237#307,azyio#308] csv

  at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:42)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:77)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:74)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:308)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:308)
  at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:69)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:307)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionUp$1(QueryPlan.scala:269)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2(QueryPlan.scala:279)
  at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2$1.apply(QueryPlan.scala:283)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
  at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
  at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
  at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
  at scala.collection.AbstractTraversable.map(Traversable.scala:104)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$2(QueryPlan.scala:283)
  at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$8.apply(QueryPlan.scala:288)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionsUp(QueryPlan.scala:288)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:74)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:67)
  at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:126)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$foreachUp$1.apply(TreeNode.scala:125)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$foreachUp$1.apply(TreeNode.scala:125)
  at scala.collection.immutable.List.foreach(List.scala:381)
  at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:125)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$foreachUp$1.apply(TreeNode.scala:125)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$foreachUp$1.apply(TreeNode.scala:125)
  at scala.collection.immutable.List.foreach(List.scala:381)
  at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:125)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$foreachUp$1.apply(TreeNode.scala:125)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$foreachUp$1.apply(TreeNode.scala:125)
  at scala.collection.immutable.List.foreach(List.scala:381)
  at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:125)
  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$class.checkAnalysis(CheckAnalysis.scala:67)
  at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:58)
  at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:49)
  at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:64)
  at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:582)
  at org.apache.spark.sql.SQLContext.sql(SQLContext.scala:682)

# 3) jointure

In [143]:
// 1) création de la structure
var champs         = List(  StructField("nom"    , StringType, true) ,
                            StructField("heure"  , StringType, true) ,
                            StructField("velo"   , StringType, true) ,
                            StructField("action" , StringType, true) )
var schema         = StructType(champs)

// 2) lecture des données
val path           = "./logs_backup/cycliste_prises.csv"
val DataSet_prise  = sqlContext.read.schema(schema).csv(path)

// 3) enregistrement de la table
DataSet_prise.registerTempTable("prises")

Name: Unknown Error
Message: <console>:36: error: not found: value StructField
       var champs         = List(  StructField("nom"    , StringType, true) ,
                                   ^
<console>:36: error: not found: value StringType
       var champs         = List(  StructField("nom"    , StringType, true) ,
                                                          ^
<console>:37: error: not found: value StructField
                                   StructField("heure"  , StringType, true) ,
                                   ^
<console>:37: error: not found: value StringType
                                   StructField("heure"  , StringType, true) ,
                                                          ^
<console>:38: error: not found: value StructField
                                   StructField("velo"   , StringType, true) ,
                                   ^
<console>:38: error: not found: value StringType
                                   StructField("velo"   , StringType, true) ,
                                                          ^
<console>:39: error: not found: value StructField
                                   StructField("action" , StringType, true) )
                                   ^
<console>:39: error: not found: value StringType
                                   StructField("action" , StringType, true) )
                                                          ^
StackTrace:

In [144]:
var champs = List(  StructField("cyclise"  , StringType, true),
                    StructField("heure"    , StringType, true),
                    StructField("rendu"    , StringType, true),
                    StructField("duree"    , StringType, true),
                    StructField("velo"     , StringType, true))
var r_schema      = StructType(champs)
val DataSet_rendu = sqlContext.read.schema(r_schema).csv("./logs_backup/cycliste_rendu.csv")
DataSet_rendu.registerTempTable("rendus")

Name: Unknown Error
Message: <console>:35: error: not found: value StructField
       var champs = List(  StructField("cyclise"  , StringType, true),
                           ^
<console>:35: error: not found: value StringType
       var champs = List(  StructField("cyclise"  , StringType, true),
                                                    ^
<console>:36: error: not found: value StructField
                           StructField("heure"    , StringType, true),
                           ^
<console>:36: error: not found: value StringType
                           StructField("heure"    , StringType, true),
                                                    ^
<console>:37: error: not found: value StructField
                           StructField("rendu"    , StringType, true),
                           ^
<console>:37: error: not found: value StringType
                           StructField("rendu"    , StringType, true),
                                                    ^
<console>:38: error: not found: value StructField
                           StructField("duree"    , StringType, true),
                           ^
<console>:38: error: not found: value StringType
                           StructField("duree"    , StringType, true),
                                                    ^
<console>:39: error: not found: value StructField
                           StructField("velo"     , StringType, true))
                           ^
<console>:39: error: not found: value StringType
                           StructField("velo"     , StringType, true))
                                                    ^
StackTrace:

In [145]:
val requete = s"""  SELECT distinct  p.nom     , 
                                     p.heure   , r.heure   ,
                                     r.rendu   , r.duree   ,
                                     p.heure   , r.velo
                    FROM        prises AS p 
                    INNER JOIN  rendus AS r 
                    ON          p.velo = r.velo
"""
sqlContext.sql(requete).show()

Name: org.apache.spark.sql.AnalysisException
Message: Table or view not found: prises; line 5 pos 32
StackTrace:   at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:42)
  at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.org$apache$spark$sql$catalyst$analysis$Analyzer$ResolveRelations$$lookupTableFromCatalog(Analyzer.scala:456)
  at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$$anonfun$apply$8.applyOrElse(Analyzer.scala:475)
  at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$$anonfun$apply$8.applyOrElse(Analyzer.scala:460)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$resolveOperators$1.apply(LogicalPlan.scala:61)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$resolveOperators$1.apply(LogicalPlan.scala:61)
  at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:69)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperators(LogicalPlan.scala:60)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$1.apply(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$1.apply(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5.apply(TreeNode.scala:328)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformChildren(TreeNode.scala:326)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperators(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$1.apply(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$1.apply(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5.apply(TreeNode.scala:328)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformChildren(TreeNode.scala:326)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperators(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$1.apply(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$1.apply(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$5.apply(TreeNode.scala:328)
  at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
  at org.apache.spark.sql.catalyst.trees.TreeNode.transformChildren(TreeNode.scala:326)
  at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperators(LogicalPlan.scala:58)
  at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.apply(Analyzer.scala:460)
  at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.apply(Analyzer.scala:450)
  at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1$$anonfun$apply$1.apply(RuleExecutor.scala:85)
  at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1$$anonfun$apply$1.apply(RuleExecutor.scala:82)
  at scala.collection.LinearSeqOptimized$class.foldLeft(LinearSeqOptimized.scala:124)
  at scala.collection.immutable.List.foldLeft(List.scala:84)
  at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1.apply(RuleExecutor.scala:82)
  at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1.apply(RuleExecutor.scala:74)
  at scala.collection.immutable.List.foreach(List.scala:381)
  at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:74)
  at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:65)
  at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:63)
  at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:51)
  at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:64)
  at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:582)
  at org.apache.spark.sql.SQLContext.sql(SQLContext.scala:682)